.footerMain{
    display: flex;
    justify-content: center;
}

.footerContainer {
  display: flex;
  justify-content: space-around;
  width: 70vw;
}

.socialMediaContainer {
  display: flex;
  justify-content: space-around;
}

.footerContainer > h3 {
  margin-top: 1vmax;
}

.col1,
.col2,
.col3,
.col4,
.col5 {
  text-align: start;
  width: 15vw;
}

.col1 > p,
.col2 > p,
.col3 > p,
.col4 > p,
.col5 > p {
  display: flex;
  flex-wrap: wrap;
}
