.mc {
  display: flex;
  justify-content: center;
  margin-top: 30vh;
}

.mc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sc {
  display: flex;
  width: 70vw;
  flex-direction: column;
}

.st {
  color: #000000;
  padding: 0.5vmax 0.8vmax;
  background-color: #CCEAFD;
  border-radius: 20px;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  border: none;
  width: 10vw;
  margin-top: -5vh;
  font-weight: 700;
  font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Placeholder", sans-serif;
  font-style: normal;
  line-height: 19px;
}

.cc {
  display: flex;
  justify-content: space-around;
}

.cb {
  display: flex;
  column-gap: 1vmax;
}

.mb {
  display: flex;
  background-color: #2e2e2e;
  color: #ffffff;
  width: 18vw;
  height: 12vh;
  flex-direction: column;
  align-content: center;
  padding: 0vmax 0.8vmax;
  border-radius: 15px 15px 15px 0px;
}

.mb > p {
  background-color: #2e2e2e;
}

.um {
  font-family: Inter, "Inter Placeholder", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: #fefefe;
  background-color: #2e2e2e;
}

.ud {
  font-family: Inter, "Inter Placeholder", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  margin-top: -0.3vmax;
  background-color: #2e2e2e;
  color: #90909e;
}

.sh {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  font-size: 42px;
  width: 30vw;
  line-height: 52px;
  color: #2e2e2e;
}

.cb > img {
  height: 60px;
  width: 60px;
  margin-top: 8vh;
}

.pe {
  color: #6b6b78;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  width: 26vw;
}
